.App-header {
  min-height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  color: white;

  .App-logo {
    height: 2.2rem;
  }

  h1 {
    font-size: 2.2rem; // 22px
    font-family: $font-family;
    color: $font-color;
    text-transform: uppercase;
  }
}