.App-header {
  position: relative;
  min-height: 4rem;
  margin: 0 0 2rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  color: white;

  .App-logo {
    height: 2.2rem;
  }

  h1 {
    font-size: 1.6rem; // 22px
    
    font-family: $font-family;
    font-weight: normal;
    line-height: 1;
    padding-top: 0.9rem;
    color: $font-color;
    text-transform: uppercase;
  }
}

.refreshButton {
  border-bottom-left-radius: 1.8rem;
  border-top-left-radius: 1.8rem;
  border: 0;
  position: absolute;
  right: 0;
  padding-left: 2rem;
}