.LaunchListItem-details {
  display: flex;
  flex-direction: column;

  p {
    line-height: 1;
    margin: 0;

    &.date {
      font-size: 1.3rem;
      color: $font-color;
    }

    &.rocketName {
      font-size: 1.8rem;
      padding-top: 0.7rem;
    }
  }
}