@import "../fonts";

.App {
  text-align: left;
  margin: 0 auto;
  width: 80vmin;
}

.App-header {
  min-height: 10vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;

  .App-logo {
    height: 2vmin;
  }

  h1 {
    font-size: 2vmin;
    font-family: $font-family;
    color: $font-color;
    text-transform: uppercase;
  }
}

button, select {
  background-color: $primary-blue;
  font-family: $font-family;
  font-weight: 500;
  color: #fafafa;
}

ul.LaunchList-list {
  list-style: none;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }
}
