// Make rem units base 10
html {
  font-size: 62.5%;
}

body {
  font-family: $baseFont;
  font-size: $medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  margin: 0;
}

code { font-family: $codeFont; }

/* Utilities */
.clearfix:after { 
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}