// Make rem units base 10
html {
  font-size: 62.5%;
}

body {
  font-family: $baseFont;
  font-size: $medium;
  background-color: #fff;
}

h1 {
  font-size: 2.2rem; // 22px
}

/* Utilities */
.clearfix:after { 
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}